body {
    padding: 0;
    margin: 0;
    background-color: #333333;

}

header {
    background-color: #333333;
    display: block;
    padding: 40px;

}

header a {

    color: #b3afaf;
    text-decoration: none;
    display: inline;
    /*float:right;*/
    padding-left: 30px;
}

.separated_headers {
    padding-right: 50%;
}

#About {
    background-color: #333333;
}

#About p {
    color: #b3afaf;
}

section {
    padding: 20px;
    background-color: #333333;
}


section,
p,
h1 {
    color: #b3afaf;
}



.intro {
    padding-top: 15%;
    text-align: center;
}

.intro input {
    padding: 2%;
    background: none;
    border: 3px solid grey;
    border-radius: 20px;
    font-size: 19px;
    cursor: pointer;
}




.intro h1 {
    font-size: 40px;
}


.intro input:hover {
    background-color: rgb(163, 172, 164);
    opacity: 0.5;

}

main {
    margin-left: 10%;
    margin-right: 10%;
    /* border:3px solid green; */
}


.ProgLang {
    list-style-type: none;
    /* This removes the default bullets */
}

.ProgLang li::marker {

    font-family: "Font Awesome 6 Free";
    content: "\f0da";
    font-weight: 900;
}

.ProgLang li {
    padding-left: 0.5em;
}

.exp-section {
    display: flex;
    flex-wrap: wrap;

}

.ex-card {
    /* flex: grow, shrink, basis */
    flex: 1 1 calc(33.333% - 40px);
    max-width: 50em;
    max-height: 20%;
    padding: 15px;
    text-wrap: balance;
    margin: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


}


footer {
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    padding: 2%;
}

footer p,footer a {
    text-align: center;
    color: #b3afaf;
}


@media screen and (max-width: 1000px) {

    .intro input {
        padding: 5%;
        background: none;
        border: 3px solid grey;
        width: 34%;
    }

    main {
        margin-left: auto;
        margin-right: auto;
        /* border:3px solid green; */
    }


    .exp-section {
        flex-direction: column;
        max-width: fit-content;
        max-height: fit-content;
    }




}



@media screen and (max-width: 600px) {
    header a {
        display: none;
    }

    .intro input {
        padding: 5%;
        background: none;
        border: 3px solid grey;
        width: 39%;
    }


    main {
        margin-left: auto;
        margin-right: auto;
        /* border:3px solid green; */
    }

    .exp-section {
        flex-direction: column;
        max-width: fit-content;
        max-height: fit-content;
    }





}




@media screen and (max-width: 600px) {
    header a {
        display: none;
    }

    .exp-section {
        max-width: fit-content;
        max-height: fit-content;
    }



}